.header{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, black, #755c1b,#ffaa00);
}
.header .title{
 width: 50%;
 padding-left: 40px;
 font-weight: bold;
 cursor: pointer;
}
.header .title i{
    margin-right: 20px;
}
.header .input-group{
    width: 35%;
}

.header .profile{
    cursor: pointer;
    font-size: 30px;
    width: 15%;
    padding-left: 10px; 
    color: black;
    padding-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 50%;
   
}
.container .item_1{
    
    width: 50%;
}
.container .item_1 .para{
    margin-top: 20px;
    font-size: 13px;
}
.container .item_1 .but{
    margin-top: 50px;
}
.container .item_1 .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #dc9509;
    border: none;
}
.container .item_2{
    
    width: 50%;
}
.cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cont .e1 h6{
    margin-top: 7px;
 }
.cont .e2 h6    {
    margin-top: 7px;
 }

.cont .e4{
    width: 250px;
    height: 200px;
 }
 .cont .e4 p{
    font-size: 10px;
    color: gray;
 }
 .cont .e4 .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #dc9509;
    border: none;
 }

 .container .rhead{
    margin-top: 15px;
 }
 .container .rcont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    
 }
  .container .rcont .r1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 25%;
    
  }
  .container .rcont .r1 p{
    font-size: 13px;
  }
   .container .rcont .r1 .img{
    margin-top: 50px;
   }
   .container .rcont .r2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 45%;
    padding: 5px;
  }
   .container .rcont .r3{
     
    width: 25%;
  }
  
 .container .rcont .r2 .img{
    margin-top: 50px;
 }
  .container .rcont .r2 .text{
    margin-top: 5px;
  }
  .container .rcont .r2 .text{
    font-size: 13px;
  }

  .container .rcont .r3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 25%;
    
  }
  .container .rcont .r3 p{
    font-size: 13px;
    font-style: italic;
  }
   .container .rcont .r3 .img{
    margin-top: 150px;
   }

   .but button{
    width: 200px;
    outline: none;
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    padding: 4px;
    background-color: #dc9509;
    border: none;
}
.containerx{
  display: block;
  
}
.containerx .ahead{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerx .form{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 0px;
  flex-direction: column;
  
}
.containerx .form .nom{
  display: flex;
  flex-direction: column;
  justify-content: sp;
  margin-top: 5px;
 
}
.containerx .form .nom span{
  margin-bottom: 5px;
}
.containerx .form .nom input{
  width: 250px;
  height: 50px;
  padding: 10px;
}
.containerx .form .nom select{
  width: 250px;
  height: 50px;
  padding: 10px;
}
.containerx .buton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5px;
  flex-direction: column;
  margin-top: 20px;

}
.containerx .buton button{
  width: 200px;
  height: 40px;
  text-decoration: none;
  border: none;
  outline: none;
background-color: black;
color: white;
}